
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Video Conference</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <body>
    <div class="dashboard">
        <h1>Welcome, {{name}}!</h1>
        <!-- create a "New Meeting" button -->
        {% if not is_staff %}
        <a href="{% url 'join_room' %}" class="button">Join Meeting</a>
        <a href="{% url 'logout' %}" class="button">Logout</a>
      {% else %}
        <!-- <a href="{% url 'meeting' %}" class="button">New Meeting</a> -->
        <a href="{% url 'join_room' %}" class="button">Join Meeting / Create meeting</a>
        <a href="{% url 'view_report' %}" class="button">View meeting report</a>
        <a href="{% url 'create_sec' %}" class="button">Create new section</a>
        <a href="{% url 'logout' %}" class="button">Logout</a>
        {% endif %}
      </div>
  </body>
</head>
</html>
